# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 8
print(number)

8

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 3
num2 = 4.5
result = num1 + num2
print(result)

result += 2.5
print(result)

7.5
10.0

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 0.5
print(result_diff)

1.5
1.0

##### Multiplication

In [6]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

13.5
27.0

##### Division

In [8]:
result_div = num2 / num1
print(result_div)

result_div /= 0.5
print(result_div)

1.5
3.0

##### Floor Division

In [10]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

1.0
0.0

##### Modulo

In [11]:
result_mod = num2 % num1
print(result_mod)

1.5

##### Exponential

In [12]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [13]:
name = "Kenny"
print(name)

Kenny

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
print("this is my name:", name)
print("This is my name:", name, end="L")

this is my name: Kenny
This is my name: KennyL

##### String Concatenation

In [18]:
first_name = "k"
last_name = "l"
print(first_name + last_name)

kl

##### Type Conversion

In [26]:
num = "32"
print(type(num))
int(num)
print(type(num))
print(num)

<class 'str'>
<class 'str'>
32
<class 'str'>

##### input()

In [29]:
name = input("what's your name?")

age = int(input("what's your age?"))
add_age = age + 1
print(add_age)

what's your name?ken
what's your age?26
27

##### format()

In [31]:
age = input("what is your age")
result_string = "you are {} {} and you are getting wiser".format(age, name)

print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

what is your age26
you are 26 ken and you are getting wiser
26 is a great time in life

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [35]:
carcolor = input("What is your favorite color?")
caryear = input("Wat year?")
carmake = input("What is your favorite make?")
carmodel = input("What is your favorite model?")

car = f"Your favorite car color, year, make and model is {carcolor}, {caryear}, {carmake}, {carmodel}"
car1 = "Your favorite car color, year, make and model is {}, {}, {}, {}".format(carcolor, caryear, carmake, carmodel)
print(car)
print(car1)

What is your favorite color?a
Wat year?b
What is your favorite make?s
What is your favorite model?v
Your favorite car color, year, make and model is a, b, s, v
Your favorite car color, year, make and model is a, b, s, v

### If Statements

In [38]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal values")
else:
    print("Different")
    
if num2 >= num1:
    print("num2 is greater or equal")
else:
    print("asdf")

Different
num2 is greater or equal

##### 'is' keyword

In [41]:
#use "is" keyword when checking for same/similar object, not same value

num3 = 55
if num3 is 55:
    print("this is the same number or object")

this is the same number or object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-813a6600c5d4>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [42]:
#check to see if x is in y (case sensitive)
char_name = "max payne"
if "max" in char_name:
    print(char_name)

max payne

##### 'not in' keyword'

In [43]:
sega_char = "sonic"
if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [45]:
isp = input("Please input a word: ")
if "p" in isp:
    print(isp)
else:
    print("lol no p")

Please input a word: izza
lol no p

## Using 'and'/'or' with If Statements

In [47]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

if num11 / 5 == num12 and num13 - 7 == num14:
    print("True and true")

if num11 > num12 or num13 == num14:
    print("true and false")

True and true
true and false

### Elif Statements

In [1]:
first_name = "Ken"
if first_name == "smith":
    print("Name is smith")
elif first_name != "Ken":
    print("Name is Not Ken")
else:
    print("The name is Ken")

The name is Ken

In [ ]:
# see above

### For Loops

In [9]:
#for [counter variable] in [condition or range] 
# for i in range(10):
#     print(i)

name = "kenny"
for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(i)
for i in range(len(name)):
    print(name[i])

k
e
n
n
y
0
1
2
3
4
k
e
n
n
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [12]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [13]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [14]:
for i in range(20):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [16]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [17]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [18]:
gameover = False
while True:
    print("infinite loop")
    if gameover == False:
        break

infinite loop

##### While & For Loops Used Together

In [20]:
num = 0

while num < 5:
    print("\n while loop iteration" + str(num))
    
    for i in range(2):
        print("For loop literation", str(i))
    num += 1

 while loop iteration0
For loop literation 0
For loop literation 1

 while loop iteration1
For loop literation 0
For loop literation 1

 while loop iteration2
For loop literation 0
For loop literation 1

 while loop iteration3
For loop literation 0
For loop literation 1

 while loop iteration4
For loop literation 0
For loop literation 1

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

In [ ]:
#checks a variable to find out which object family it belongs to
# isinstance(variable, type)

##### abs()

In [25]:
#absolute value
print(abs(-6))

6

### Try and Except

In [ ]:
#use this whenever you expect to encounter a bug so the error doesn't cause the program to stop

### Lists

##### Declaring Lists

In [ ]:
list1 = [] #empty list declaration
names = ["k", "l", "s"]

##### Indexing a List

In [41]:
names = ["k", "l", "s"]
print(names[0])

k

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [56]:
for i in range(len(names)):
    print(names[i])

k
l
s

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [49]:
list = []
x = 0 
for i in range(999):
    if x < 1000:
        x = i**3
        list.append(x)
    else:
        break
        
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [62]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

list = []

for i in range(100):
    if i % 2 != 0 and i % 3 != 0 and i % 4 != 0 and i % 5 != 0:
        list.append(i)
    else:
        continue

print(list)

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [55]:
age = int(input("What is your age? "))

if age < 18:
    print("You're a kid")
elif age < 65:
    print("You're an adult")
else:
    print("You're a senior")

What is your age? 24
You're an adult